<nav>
  <button class="nav-hamburger" aria-label="Menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <a href="/" class="nav-logo">
    <div class="nav-logo-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <path d="M4 7l7 5-7 5"/>
        <path d="M12 17h8"/>
      </svg>
    </div>
    Remote IDE
  </a>
  <ul class="nav-links">
    <li><a href="/#features">Features</a></li>
    <li><a href="/blog/">Blog</a></li>
  </ul>
</nav>
